/* CONTENEDOR LAYOUT WEB */
.contenedor_layout_web {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
    min-height: 100vh;
}

.contenedor_layout_web_pagina {
    margin-top: var(--altura-header-principal-computadora);
}

.g_contenedor_pagina {
    background-color: var(--color-fondo-pagina);
}

.g_centrar_pagina {
    margin: 0 auto;
    max-width: var(--ancho-centrar-pagina);
    width: 100%;
}

.g_pading_pagina {
    padding: 10px;
}

.g_gap_pagina {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.g_margin_top_40 {
    margin-top: 40px;
}

.g_margin_bottom_20 {
    margin-bottom: 20px;
}

/*GRID PAGINA COLUMNA*/
.g_grid_pagina_2_columnas {
    width: 100%;
    display: grid;
    grid-template-areas: "g_grid_columna_1 g_grid_columna_2";
    grid-template-columns: 70% 30%;
    gap: 15px;
}

.g_grid_pagina_2_columnas .g_grid_columna_1 {
    grid-area: g_grid_columna_1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.g_grid_pagina_2_columnas .g_grid_columna_2 {
    grid-area: g_grid_columna_2;
}


/*GRID FILTRO COLUMNA*/
.g_grid_pagina_filtro {
    width: 100%;
    display: grid;
    grid-template-areas: "g_grid_columna_1 g_grid_columna_2";
    grid-template-columns: 30% 70%;
}

.g_grid_pagina_filtro .g_grid_columna_1 {
    grid-area: g_grid_columna_1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.g_grid_pagina_filtro .g_grid_columna_2 {
    grid-area: g_grid_columna_2;
}


/* CONTENEDOR SUPONER */
.contenedor_superponer {
    z-index: 600;
    position: fixed;
    top: 0 !important;
    background: var(--color-fondo-superponer);
    content: "";
    height: 100%;
    left: 0;
    transition: all .2s ease-in-out;
    width: 100%;
    display: none;
}

.contenedor_superponer[x-show="true"] {
    display: block;
}

.g_centrar_elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* CARD */
.g_card_panel {
    padding: 20px;
    box-shadow: var(--sombra);
    background-color: var(--color-fondo-secundario);
    gap: 10px;
}

.g_card_flex_column {
    display: flex;
    flex-direction: column;
}

/* TEXTO */
.g_texto_nivel_1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.g_texto_nivel_2 {
    font-size: 15px;
}

.g_texto_nivel_3 {
    max-width: 12rem;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-texto-terciario);
}

.g_texto_nivel_4 {
    /*height: 34px;*/
    overflow: hidden;
    /*margin-bottom: 8px;*/
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-texto-terciario);
}

.g_texto_nivel_5 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
}

.g_texto_nivel_6 {
    font-size: 24px;
    line-height: 24px;
    margin: 4px 0;
    font-weight: 700;
    color: var(--color-texto-terciario);
}

.g_texto_nivel_7 {
    font-size: 17px;
    color: var(--color-texto-terciario);
}

.g_texto_subrayado {
    border-bottom: 1px solid var(--color-borde-noveno);
    padding-bottom: 10px;
}

.g_texto_borde_izquierdo {
    border-left: 4px solid var(--color-borde-terciario);
    padding-left: 10px;
}

.g_texto_descripcion {
    line-height: 1.4;
    max-height: 4.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*ETIQUETA*/
.g_etiqueta {
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: var(--color-texto-global-1-contraste);
}

.g_etiqueta_activo {
    background-color: var(--color-fondo-etiqueta-2);
}

.g_etiqueta_desactivo {
    background-color: var(--color-fondo-etiqueta-1);
}

/* VER MAS */
.g_ver_mas_btn {
    font-size: 13px;
    color: var(--color-fondo-primario);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.g_ver_mas_btn:hover {
    color: var(--color-primario-hover);
}

/*BOTON SIGUIENTE*/
.boton_siguiente {
    background: var(--color-fondo-primario);
    color: var(--color-texto-secundario);
    border-radius: 30px;
    padding: 3px 15px;
    text-align: center;
    width: 180px;
    cursor: pointer;
}

.boton_siguiente:hover {
    background: var(--color-fondo-terciario);
}

/* SCROLL */
.g_scroll {
    scrollbar-width: thin;
    /* para Firefox */
    scrollbar-color: #bebebe #f1f1f1;
    /* para Firefox */
}

.g_scroll::-webkit-scrollbar {
    height: 8px;
    /* para scroll horizontal */
}

.g_scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.g_scroll::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
}

.g_scroll::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

/* Ocultar los botones de flechas (WebKit) */
.g_scroll::-webkit-scrollbar-button:start:decrement,
.g_scroll::-webkit-scrollbar-button:end:increment {
    display: none;
    height: 0;
    width: 0;
}

/*CONTROL MOSTRAR*/
.g_contenedor_control_mostrar {
    margin-top: 20px;
    text-align: end;
}

.g_contenedor_control_mostrar p {
    cursor: pointer;
    padding-right: 0.875rem;
    text-decoration: underline;
    letter-spacing: .1163rem;
    color: var(--color-texto-opaco);
}

.g_contenedor_control_mostrar span {
    position: absolute;
}

.g_contenedor_control_mostrar .invertido {
    transform: translateY(-45%) rotate(180deg);
    margin-top: 10px;
}

.g_contenedor_control_mostrar .normal {
    margin-top: 5px;
    margin-left: 2px;
}


.g_video_container {
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    /* 16:9 */
    height: 0;
    overflow: hidden;
    background: #000;
    border-radius: 10px;
    /* opcional, para esquinas redondeadas */
}

.g_video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*REDES SOCIALES SHARE**/
.compartir_redes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #392385;
}

.compartir_redes>p {
    flex: 0 0 100%;
    font-size: 16px;
    color: #5e208d;
    /* morado más suave */
    user-select: none;
}

.compartir_redes>div {
    display: flex;
    gap: 12px;
    width: 100%;
}

.compartir_redes a.btn-compartir {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    padding: 4px 8px;
    border-radius: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
    justify-content: center;
}

.compartir_redes a.btn-compartir:hover,
.compartir_redes a.btn-compartir:focus {
    transform: scale(1.07);
    outline: none;
}

/* Colores y sombras para cada red */
.compartir_redes a.facebook {
    background: #3b5998;
}

.compartir_redes a.facebook:hover {
    background: #2d4373;
}

.compartir_redes a.twitter {
    background: #1da1f2;
}

.compartir_redes a.twitter:hover {
    background: #0d95e8;
}

.compartir_redes a.whatsapp {
    background: #25d366;
}

.compartir_redes a.whatsapp:hover {
    background: #1ebe57;
}

/* Iconos */
.compartir_redes i.fab {
    font-size: 1.4rem;
    filter: drop-shadow(0 0 0.2px rgba(0, 0, 0, 0.25));
}

.g_menu_card {
    padding-top: 15px;
    display: flex;
    gap: 10px;
    cursor: pointer;

    overflow-x: auto;   /* Activa scroll horizontal */
    white-space: nowrap; /* Evita que se corten las opciones */
    -webkit-overflow-scrolling: touch; /* Suaviza el scroll en iOS */
}

.g_menu_card::-webkit-scrollbar {
    display: none; /* Opcional: ocultar scrollbar en móviles */
}

.g_menu_card .menu-item {
    font-weight: normal;
    color: #555;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.g_menu_card .menu-item.activo {
    font-weight: bold;
    color: #392385;
    border-bottom: 2px solid #392385;
}


@media (max-width: 1024px) {

    /* CONTENEDOR LAYOUT WEB */
    .contenedor_layout_web_pagina {
        margin-top: var(--altura-header-principal-movil);
    }

    .g_grid_pagina_2_columnas {
        grid-template-areas: "g_grid_columna_1"
            "g_grid_columna_2";
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    .g_grid_pagina_filtro {
        grid-template-areas: "g_grid_columna_1"
            "g_grid_columna_2";
        grid-template-columns: 100%;
        grid-gap: 10px;
    }
}

@media (max-width: 700px) {
    .g_gap_pagina {
        gap: 20px;
    }

    .g_margin_top_40 {
        margin-top: 20px;
    }

}