:root {

    /* COLORES */
    --color-fondo-primario: #392385;
    /*ofi*/
    --color-fondo-secundario: #ffffff;
    /*ofi*/
    --color-fondo-terciario: #1c1c1d;
    /*ofi*/
    --color-fondo-cuaternario: #252728;
    /*ofi*/
    --color-fondo-quinario: #3a3c3d;
    /*ofi*/
    --color-fondo-senario: #c0c0c0;
    --color-fondo-septenario: #778089;
    --color-fondo-octanario: #3b3d3e;
    /*ofi*/
    --color-fondo-noveno: #e5e5e5;
    /*ofi*/
    --color-fondo-decimo: #f9f9f9;
    /*ofi*/
    --color-fondo-undecimo: #f0f0f0;
    /*ofi*/

    --color-texto-primario: #392385;
    --color-texto-secundario: #ffffff;
    --color-texto-terciario: #1c1c1d;
    --color-texto-cuaternario: #252728;
    --color-texto-quinario: #3a3c3d;
    --color-texto-senario: #c0c0c0;
    --color-texto-septenario: #778089;
    --color-texto-octanario: #3b3d3e;

    --color-borde-primario: #392385;
    --color-borde-secundario: #ffffff;
    --color-borde-terciario: #1c1c1d;
    --color-borde-cuaternario: #252728;
    --color-borde-quinario: #3d3a3d;
    --color-borde-senario: #c0c0c0;
    --color-borde-septenario: #778089;
    --color-borde-octanario: #3b3d3e;
    --color-borde-noveno: #e5e5e5;

    /* BREACKPOINT */
    --breakpoint-computadora: 1024px;
    --breakpoint-tablet: 700px;
    --breakpoint-movil: 500px;

    /* ALTURAS */
    --altura-header-principal-computadora: 140px;
    /*ofi*/
    --altura-menu-principal-arriba-computadora: 90px;
    --altura-menu-principal-abajo-computadora: 50px;

    --altura-header-principal-movil: 170px;
    /*ofi*/
    --altura-menu-principal-arriba-movil: 120px;
    --altura-menu-principal-abajo-movil: 50px;

    /* ANCHOS */
    --ancho-espacio-pagina-computadora: 50px;
    --ancho-espacio-pagina-movil: 10px;

    --ancho-sidebar-categoria: 300px;
    --ancho-sidebar-subcategoria: calc(700px);
    --altura-sidebar-cabecara: 56px;

    /* SOMBRAS */
    --sombra: 0 2px 8px rgba(0, 0, 0, 0.05);
    --sombra-secundario-izquierda: 2px 0 5px -2px rgba(0, 0, 0, 0.2);
    --sombra-secundario-derecha: -2px 0 5px -2px rgba(0, 0, 0, 0.2);
    --sombra-secundario-arriba: rgba(0, 0, 0, 0.1) 0px -3px 26px;

    /* SLIDE PRODUCTOS */
    /*6 ELEMENTOS*/
    --slide-productos-computadora: 16.6%;
    /*2 ELEMENTOS*/
    --slide-productos-tablet: 45%;
    /*1 ELEMENTO*/
    --slide-productos-movil: 95%;



    /*GENERAL*/
    --color-fondo-pagina: #fafafa;

    --color-fondo-superponer: rgba(0, 0, 0, 0.192);

    --ancho-centrar-pagina: 1280px;

    /*CONTROL SLIDER*/
    --color-control-slider-texto: #c0c0c0;
    --color-control-slider-texto-hover: #778089;
    --fondo-control-slider-fondo: #c0c0c0;
    --fondo-control-slider-fondo-active: #778089;
    --sombra-control-slider-izquierda: 2px 0 5px -2px rgba(0, 0, 0, 0.2);
    --sombra-control-slider-derecha: -2px 0 5px -2px rgba(0, 0, 0, 0.2);

    /*CARD*/
    --color-borde-card-imagen: #ffffff;

    /*FONDOS*/
    --color-fondo-global-1: #1c1c1d;
    --color-texto-global-1-contraste: #ffffff;

    --color-fondo-global-2: #ffffff;
    --color-texto-global-2-contraste: #1c1c1d;

    --color-fondo-etiqueta-1: #1c1c1d;
    --color-fondo-etiqueta-2: #392385;
    --color-texto-etiqueta-constraste: #ffffff;

    /*TEXTOS*/
    --color-texto-opaco: #778089;

    /*LIST*/
    --color-fondo-lista: #f9f9f9;
    --color-fondo-lista-hober: #f0f0f0;
    --color-border-lista: #1c1c1d;
    --color-border-card: #e5e5e5;



}