.contenedor_filtros {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--color-fondo-secundario);
    padding: 10px;
}

.contenedor_filtros div{
    display: flex;
    flex-direction: column;
}

.contenedor_filtros select {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    color: #111827;
    transition: border-color 0.3s ease;
}

.contenedor_filtros select:focus {
    border-color: #3b82f6;
    outline: none;
}

@media (max-width: 1024px) {}