.grafico_horizontal .candidato-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}

.grafico_horizontal .foto_contenedor {
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 15px;
}

.grafico_horizontal .foto-candidato {
    width: 64px;
    height: 64px;
    /*border-radius: 50%;*/
    object-fit: cover;
    border: 2px solid #ccc;
}

.grafico_horizontal .logo-partido {
    position: absolute;
    bottom: -10px;
    left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    object-fit: cover;
    background: white;
}

.grafico_horizontal .numero_candidato {
    position: absolute;
    bottom: -10px;
    left: 26px;
    width: 30px;
    height: 30px;
    background: var(--color-fondo-card-imagen);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.grafico_horizontal .info_candidato {
    flex-grow: 1;
}

.grafico_horizontal .nombre_candidato {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
}

.grafico_horizontal .nombre_partido {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.grafico_horizontal .barra_voto {
    width: 100%;
    height: 12px;
    background-color: #eee;
    border-radius: 6px;
    overflow: hidden;
}

.grafico_horizontal .barra_progreso {
    height: 100%;
    background-color: #3498db;
}

.grafico_horizontal .votos_dato {
    text-align: right;
    margin-left: 15px;
    min-width: 80px;
}

.grafico_horizontal .cantidad_votos {
    font-weight: bold;
    color: #0056b3;
    font-size: 14px;
}

.grafico_horizontal .porcentaje {
    font-size: 13px;
    color: #666;
}


/*GRAFICO VERTICAL*/
.grafico_vertical .grafico_barras_scroll {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 70px 10px 60px 10px;
    background-image:
        linear-gradient(to right, #e0e0e0 1px, transparent 1px),
        linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 40px 40px;
    /* Tamaño de cada celda */
    background-position: top left;
}

.grafico_vertical .grafico {
    display: flex;
    align-items: flex-end;
    height: 300px;
    min-width: fit-content;
    gap: 10px;
    justify-content: flex-start;
    border-bottom: 3px solid #ccc;
}

.grafico_vertical .barra_container {
    position: relative;
    width: 85px;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
}

.grafico_vertical .barra {
    width: 100%;
    background-color: #3498db;
    transition: height 0.3s ease;
    position: relative;
}

.grafico_vertical .foto_contenedor {
    padding: 2px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    object-fit: contain;
}

/*.grafico_vertical .foto-candidato {
    width: 64px;
    height: 64px;
}*/

.grafico_vertical .logo-partido {
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    object-fit: cover;
    background: white;
}

.grafico_vertical .numero_candidato {
    position: absolute;
    bottom: -5px;
    left: 27px;
    width: 30px;
    height: 30px;
    background: var(--color-fondo-card-imagen);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.grafico_vertical .pie_datos_candidato {
    position: absolute;
    top: 100%; /* justo debajo de la barra */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    gap: 2px; /* espacio entre porcentaje y nombre */
    padding-top: 5px;
}

.grafico_vertical .pie_datos_candidato .porcentaje {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    color: #0056b3;
    text-align: center;
    line-height: 12px;
}

.grafico_vertical .pie_datos_candidato .nombre {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--color-texto-terciario);
    text-align: center;
    line-height: 12px;
    width: 80px;
}