.partials_contenedor_candidatura_cargo {
    background-color: var(--color-fondo-secundario);
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.partials_contenedor_candidatura_cargo .item {
    background-color: var(--color-fondo-decimo);
    padding: 16px;
    border-radius: 8px;
    border-left: 4px solid var(--color-fondo-terciario);
    transition: background-color 0.2s ease;
}

.partials_contenedor_candidatura_cargo .item:hover {
    background-color: var(--color-fondo-undecimo);
}