/*LISTA CUADRICULA CANDIDATOS*/
.partials_lista_cuadricula_candidatos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.partials_lista_cuadricula_candidatos .card_candidato {
    border: 2px solid transparent;
    cursor: pointer;
    text-align: center;
    /*padding: 1rem;*/
    position: relative;
    transition: border 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partials_lista_cuadricula_candidatos .overlay_votar {
    position: absolute;
    inset: 0;
    background-color: var(--color-fondo-superponer);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.partials_lista_cuadricula_candidatos .card_candidato:hover {
    border-color: var(--color-borde-card-hober);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.partials_lista_cuadricula_candidatos .card_candidato.seleccionado {
    border-color: var(--color-fondo-lista-hober);
    background-color: #eef2ff;
}

.partials_lista_cuadricula_candidatos .card_candidato input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.partials_lista_cuadricula_candidatos .imagen_contenedor {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.partials_lista_cuadricula_candidatos .imagen_candidato {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partials_lista_cuadricula_candidatos .logo_partido {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: var(--color-fondo-card-imagen);
    border: 2px solid var(--color-borde-card-imagen);
}

.partials_lista_cuadricula_candidatos .numero_candidato {
    position: absolute;
    bottom: 5px;
    left: 58px;
    width: 50px;
    height: 50px;
    background: var(--color-fondo-card-imagen);
    border: 2px solid var(--color-borde-card-imagen);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.partials_lista_cuadricula_candidatos .info_candidato {
    margin-top: 0.5rem;
}

.partials_lista_cuadricula_candidatos .boton_votar_contenedor {
    text-align: center;
}

.partials_lista_cuadricula_candidatos .boton_votar {
    background-color: var(--color-fondo-etiqueta-2);
    color: var(--color-texto-etiqueta-constraste);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s;
    z-index: 20;
    cursor: pointer;
}

.partials_lista_cuadricula_candidatos .boton_votar:hover {
    background-color: var(--color-fondo-etiqueta-1);
}

.partials_lista_cuadricula_candidatos .boton_cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: var(--color-texto-etiqueta-constraste);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 20;
    transition: transform 0.2s ease;
}

.partials_lista_cuadricula_candidatos .boton_cerrar:hover {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .partials_lista_cuadricula_candidatos {
        grid-template-columns: repeat(2, 1fr);
    }
}