.partials_contenedor_mostrador .grid_mostrador {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    margin: auto;
}

/* Ocultar todos los elementos después del sexto por defecto */
.partials_contenedor_mostrador .grid_mostrador .item:nth-child(n+9) {
    display: none;
}

/* Mostrar todos los elementos cuando showAll es true */
.partials_contenedor_mostrador .grid_mostrador.mostrar_todos .item:nth-child(n+9) {
    display: block;
}

/* LINK */
.partials_contenedor_mostrador .grid_mostrador a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partials_contenedor_mostrador .grid_mostrador p {
    margin-top: 15px;
    width: 140px;
}

/* IMAGENES */
.partials_contenedor_mostrador .grid_mostrador img {
    width: 120px;
    height: auto;
    background-color: white;
    padding: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .partials_contenedor_mostrador .grid_mostrador {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 700px) {
    .partials_contenedor_mostrador .grid_mostrador {
        grid-template-columns: repeat(2, 1fr);
    }
}