.partials_contenedor_perfil_partido {
    display: flex;
}

.partials_contenedor_perfil_partido .partido_imagen_contenedor {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 300px;
    padding: 10px;
}

.partials_contenedor_perfil_partido .imagen_partido {
    width: 100%;
    display: block;
}

.partials_contenedor_perfil_partido .nombres_partido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: 7px;
}

.partials_contenedor_perfil_partido .nombres_partido .nombres .redes_sociales {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

@media (max-width: 700px) {
    .partials_contenedor_perfil_partido {
        flex-direction: column;
        align-items: center;
    }

    .partials_contenedor_perfil_partido .imagen_partido {
        width: 100%;
    }

    .partials_contenedor_perfil_partido .nombres_partido {
        gap: 20px;

    }

    .partials_contenedor_perfil_partido .nombres_partido .nombres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partials_contenedor_perfil_partido .nombres_partido .nombres .redes_sociales {
        justify-content: center;
    }

    .partials_contenedor_perfil_partido .nombres_partido .nombres h3,
    .partials_contenedor_perfil_partido .nombres_partido .nombres p {
        text-align: center;
    }
}