.partials_contenedor_perfil_candidato {
    display: flex;
}

.partials_contenedor_perfil_candidato .candidato_imagen_contenedor {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 300px;
}

.partials_contenedor_perfil_candidato .imagen_candidato {
    width: 100%;
    display: block;
    border-radius: 50%;
}

.partials_contenedor_perfil_candidato .logo_partido {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: auto;
    border: 2px solid var(--color-borde-card);
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

/* NOMBRES PARTIDO */
.partials_contenedor_perfil_candidato .nombres_partido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    gap: 7px;
}

.partials_contenedor_perfil_candidato .nombres_partido .nombres .redes_sociales {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.partials_contenedor_perfil_candidato .nombres_partido .partido img {
    width: 150px;
}

@media (max-width: 700px) {
    .partials_contenedor_perfil_candidato {
        flex-direction: column;
        align-items: center;
    }

    .partials_contenedor_perfil_candidato .imagen_candidato {
        width: 100%;
    }

    .partials_contenedor_perfil_candidato .nombres_partido {
        gap: 20px;
    }

    .partials_contenedor_perfil_candidato .nombres_partido .nombres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partials_contenedor_perfil_candidato .nombres_partido .nombres .redes_sociales {
        justify-content: center;
    }

    .partials_contenedor_perfil_candidato .nombres_partido .partido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partials_contenedor_perfil_candidato .nombres_partido .nombres h3,
    .partials_contenedor_perfil_candidato .nombres_partido .nombres p,
    .partials_contenedor_perfil_candidato .nombres_partido .partido h3,
    .partials_contenedor_perfil_candidato .nombres_partido .partido p {
        text-align: center;
    }
}