.partials_contenedor_slider_candidato {
    position: relative;
    width: 100%;
}

/* SLIDER */
.partials_contenedor_slider_candidato .swiper {
    width: 100%;
    overflow: hidden;
}

.partials_contenedor_slider_candidato .swiper-wrapper {
    display: flex;
}

.partials_contenedor_slider_candidato .swiper-slide {
    width: 25%;
    padding: 5px;
}

/* LINK */
.partials_contenedor_slider_candidato a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partials_contenedor_slider_candidato .candidato_imagen_contenedor {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.partials_contenedor_slider_candidato .imagen_candidato {
    width: 100%;
    display: block;
}

.partials_contenedor_slider_candidato .logo_partido {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: auto;
    border: 2px solid var(--color-borde-card-imagen);
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.partials_contenedor_slider_candidato a p {
    margin-top: 15px;
    text-align: center;
}

.partials_contenedor_slider_candidato a span {
    text-align: center;
}

/* CONTROLES */
.partials_contenedor_slider_candidato .swiper-button-next,
.partials_contenedor_slider_candidato .swiper-button-prev {
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--color-control-slider-texto);
}

.partials_contenedor_slider_candidato .swiper-button-next:hover,
.partials_contenedor_slider_candidato .swiper-button-prev:hover {
    background: var(--fondo-control-slider-fondo);
    color: var(--color-control-slider-texto-hover);
}

.partials_contenedor_slider_candidato .swiper-button-next:after,
.partials_contenedor_slider_candidato .swiper-button-prev:after {
    font-size: 16px;
}

.partials_contenedor_slider_candidato .swiper-button-prev {
    left: 10px;
    box-shadow: var(--sombra-control-slider-izquierda)
}

.partials_contenedor_slider_candidato .swiper-button-next {
    right: 10px;
    box-shadow: var(--sombra-control-slider-derecha)
}

/* SLIDER THUMBNAILS */
.partials_contenedor_slider_candidato .swiper-pagination {
    position: initial;
}

.partials_contenedor_slider_candidato .swiper-pagination-bullet {
    background-color: var(--fondo-control-slider-fondo);
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 50%;
}

.partials_contenedor_slider_candidato .swiper-pagination-bullet-active {
    background-color: var(--fondo-control-slider-fondo-active);
}