/*CONTENEDOR SLIDER TIEMPO*/
.partials_contenedor_temporizador {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: var(--color-fondo-global-1);
    border-radius: 20px;
}

/*CONTENEDOR FECHA HORA*/
.partials_contenedor_temporizador .contenedor_fecha_hora {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 15px 10px;
    flex-direction: column;
    margin-bottom: 10px;
}

.partials_contenedor_temporizador .contenedor_fecha_hora .contenedor_fecha {
    display: flex;
    align-items: center;
}

.partials_contenedor_temporizador .contenedor_fecha_hora .contenedor_fecha span {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: .125rem;
    color: var(--color-texto-global-1-contraste);
    text-align: center;
}

.partials_contenedor_temporizador .contenedor_fecha_hora .contenedor_hora {
    display: flex;
    gap: 2px;
}

.partials_contenedor_temporizador .contenedor_fecha_hora .contenedor_hora p {
    width: 24px;
    height: 34px;
    display: inline-block;
    /*padding-top: 3px;*/
    background-color: var(--color-fondo-global-2);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: var(--color-texto-global-2-contraste);
    vertical-align: middle;
    opacity: .95;
}

.partials_contenedor_temporizador .contenedor_fecha_hora .contenedor_hora span {
    padding: 0px 2px;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--color-texto-global-1-contraste);
}

/* SLIDER */
.partials_contenedor_temporizador .partials_contenedor_slider_temporizador {
    position: relative;
    width: 100%;
}

@media (max-width: 1000px) {    

    .partials_contenedor_temporizador .contenedor_fecha_hora .contenedor_fecha span {
        font-size: 20px;
    }
   
}