.titulo_simple {
    width: 100%;
    margin-bottom: 20px;
}

.titulo_simple h3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 1.2;
}

@media (max-width: 700px) {

    .titulo_simple h3 {
        font-size: 25px;
        text-align: center;
    }

}